/* global */
$page-width: 980px;

/* components */

$link: #0070c9;

// navigator
$nav-background: rgba(0,0,0,0.8);
$nav-text: #cccccc;
$nav-text-hover: white;
$nav-text-disable: #999999;

// sub navigator
$sub-nav-background: #fff;


// footer
$footer-background: #f5f5f7;
$footer-text: #86868b;


// input
$input-border: 1px solid rgb(214, 214, 214);
$input-border-radius: 7px;
$input-font-size: 17px;
$input-text-color: #353535;
$input-placeholder-color: rgb(155, 155, 155);
$input-error: rgb(222, 7, 28);
$input-error-background: rgb(254, 240, 240);